body{
    padding;8px;
}
.line{
    border-left:1px solid black;
    position:absolute;
    top:0px;
    left:250px;
    width:0px;
    height:100%;
    z-index:4;
}
.time{
    position:absolute;
    z-index:4;
    padding:0px;
    height:20px;
}
    .itime{
        position:absolute;
        z-index:3;
        width:60px;
        height:20px;
        border-left:3px solid black;
    }
#tvguide{
    position:absolute;
    left:0px;
    top:0px;
}
    #channelnames{
        position:absolute;
        top:0px;
        left:0px;
        z-index:1;
        margin:0px;
    }
        .channelname, .echannelname{
            background-color:gray;
            color:white;
            font-weight:bold;
            width:244px;
            padding:3px;
            white-space:nowrap;
            height:43px;
            border-bottom:1px solid white;
        }
        .echannelname{
            background-color:white;
            height:23px;
        }
    #channels{
        position:absolute;
        top:0px;
        left:250px;
        z-index:0;
    }
        .channel{
            white-space:nowrap;
            vertical-align:top;
            margin-bottom:1px;
            font-family:'Arial';
            font-size:0.6875em;
            
        }
            .program, .aprogram{
                position:absolute;
                vertical-align:top;
                height:43px;
                display:inline-block;
                padding:3px;
                white-space:normal;
                background-color:lightblue;
                color:black;
                overflow:hidden;
                border-right:1px solid white;
                border-bottom:1px solid white;
                border-radius:8px;
            }
            .aprogram{
                background-color:orange;
                color:black;
            }
#popup{
    background-color:black;
    color:white;
    font-weight:bold;
    position:fixed;
    visibility:hidden;
    left:0px;
    right:0px;
    width:200px;
}

